<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.safari.sport.main.mapper.TrainDictMapper" >
    <resultMap id="resultMap" type="org.safari.sport.main.entity.TrainDict" >
        <id column="id"                           property="id"                    jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="create_by"         property="createBy"          jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="create_time"      property="createTime"      jdbcType="TIMESTAMP"      javaType="java.util.Date" />
        <result column="modify_by"        property="modifyBy"         jdbcType="VARCHAR"         javaType="java.lang.String" />
        <result column="modify_time"     property="modifyTime"     jdbcType="TIMESTAMP"     javaType="java.util.Date" />
        <result column="del_flag"            property="delFlag"            jdbcType="VARCHAR"         javaType="java.lang.String" />
        <result column="remarks"            property="remarks"           jdbcType="VARCHAR"         javaType="java.lang.String" />
        <result column="name"               property="name"               jdbcType="VARCHAR"         javaType="java.lang.String" />
        <result column="type"                  property="type"                  jdbcType="VARCHAR"         javaType="java.lang.String" />
    </resultMap>

    <sql id="column_list" >
        t.id as "id", 
        t.create_by as "createBy", 
        t.create_time as "createTime", 
        t.modify_by as "modifyBy", 
        t.modify_time as "modifyTime", 
        t.del_flag as "delFlag", 
        t.remarks as "remarks", 
        t.name as "name",
        t.type as "type"
    </sql>

    <select id="findById" parameterType="java.lang.String" resultType="org.safari.sport.main.entity.TrainDict" >
        select 
        <include refid="column_list" />
        from s_train_dict t 
        where t.id = #{id}
    </select>

    <insert id="insert" parameterType="org.safari.sport.main.entity.TrainDict" >
        insert into s_train_dict
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test=" null != id and '' !=  id" >
                id,
            </if>
            <if test=" null != createBy and '' !=  createBy" >
                create_by,
            </if>
                create_time,
            <if test=" null != remarks and '' !=  remarks" >
                remarks,
            </if>
            <if test=" null != name and '' !=  name" >
                name,
            </if>
            <if test=" null != type and '' !=  type" >
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test=" null != id and '' !=  id" >
                #{id},
            </if>
            <if test=" null != createBy and '' !=  createBy" >
                #{createBy},
            </if>
                now(),
            <if test=" null != remarks and '' !=  remarks" >
                #{remarks},
            </if>
            <if test=" null != name and '' !=  name" >
                #{name},
            </if>
            <if test=" null != type and '' !=  type" >
                #{type},
            </if>
        </trim>
    </insert>

    <update id="deleteById" parameterType="java.lang.String" >
        update s_train_dict set del_flag = #{deleteYes} where id = #{id}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List" >
        update s_train_dict set del_flag = #{deleteYes} where id in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>

    <update id="modify" parameterType="org.safari.sport.main.entity.TrainDict" >
        update s_train_dict set 
            modify_by = #{modifyBy},
            modify_time = now(),
            remarks = #{remarks},
            name = #{name},
            type = #{type}
        where id = #{id}
    </update>

    <select id="findCount" parameterType="org.safari.sport.main.entity.TrainDict" resultType="java.lang.Integer" >
        select count(0) from s_train_dict t 
    </select>

    <select id="findPage" parameterType="org.safari.sport.main.entity.TrainDict" resultMap="resultMap" >
        select 
        <include refid="column_list" />
        from s_train_dict t 
        order by t.create_time desc
        limit #{pageIndex},#{pageSize}
    </select>
    
    <select id="findAll" parameterType="org.safari.sport.main.entity.TrainDict" resultMap="resultMap" >
        select 
        <include refid="column_list" />
        from s_train_dict t 
        where t.del_flag = #{delFlag}
        order by t.type asc, t.create_time asc
    </select>

</mapper>