<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.safari.emall.main.mapper.ShoesDictMapper" >
    <resultMap id="resultMap" type="org.safari.emall.main.entity.ShoesDict" >
        <id column="id"                                property="id"                            jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="create_time"           property="createTime"              jdbcType="TIMESTAMP"       javaType="java.util.Date" />
        <result column="create_by"              property="createBy"                  jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="modify_time"          property="modifyTime"             jdbcType="TIMESTAMP"       javaType="java.util.Date" />
        <result column="modify_by"             property="modifyBy"                 jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="del_flag"                 property="delFlag"                    jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="remarks"                 property="remarks"                   jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="label"                      property="label"                        jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="value"                     property="value"                       jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="type"                       property="type"                        jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="sort"                        property="sort"                         jdbcType="INTEGER"            javaType="java.lang.Integer" />
        <result column="inst"                        property="inst"                         jdbcType="VARCHAR"          javaType="java.lang.String" />
        <result column="useable"                  property="useable"                   jdbcType="VARCHAR"          javaType="java.lang.String" />
    </resultMap>

    <sql id="column_list" >
        t.id as "id", 
        t.create_time as "createTime", 
        t.create_by as "createBy", 
        t.modify_time as "modifyTime", 
        t.modify_by as "modifyBy", 
        t.del_flag as "delFlag", 
        t.remarks as "remarks", 
        t.label as "label", 
        t.value as "value", 
        t.type as "type", 
        t.sort as "sort", 
        t.inst as "inst", 
        t.useable as "useable"
    </sql>
    
    <sql id="condition">
    	<where>
    		1=1 and t.del_flag = #{delFlag}
    		<if test="null != type and  '' != type">
    			and t.type = #{type}
    		</if>
    	</where>
    </sql>

    <select id="findById" parameterType="java.lang.String" resultType="org.safari.emall.main.entity.ShoesDict" >
        select 
        <include refid="column_list" />
        from e_shoes_dict t 
        where t.id = #{id}
    </select>
    
    <insert id="insert" parameterType="org.safari.emall.main.entity.ShoesDict" >
        insert into e_shoes_dict
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test=" null != id and '' !=  id" >
                id,
            </if>
                create_time,
            <if test=" null != createBy and '' !=  createBy" >
                create_by,
            </if>
            <if test=" null != remarks and '' !=  remarks" >
                remarks,
            </if>
            <if test=" null != label and '' !=  label" >
                label,
            </if>
            <if test=" null != value and '' !=  value" >
                value,
            </if>
            <if test=" null != type and '' !=  type" >
                type,
            </if>
            <if test=" null != sort" >
                sort,
            </if>
            <if test=" null != inst and '' !=  inst" >
                inst,
            </if>
            <if test=" null != useable and '' !=  useable" >
                useable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test=" null != id and '' !=  id" >
                #{id},
            </if>
            	now(),
            <if test=" null != createBy and '' !=  createBy" >
                #{createBy},
            </if>
            <if test=" null != remarks and '' !=  remarks" >
                #{remarks},
            </if>
            <if test=" null != label and '' !=  label" >
                #{label},
            </if>
            <if test=" null != value and '' !=  value" >
                #{value},
            </if>
            <if test=" null != type and '' !=  type" >
                #{type},
            </if>
            <if test=" null != sort" >
                #{sort},
            </if>
            <if test=" null != inst and '' !=  inst" >
                #{inst},
            </if>
            <if test=" null != useable and '' !=  useable" >
                #{useable},
            </if>
        </trim>
    </insert>

    <update id="deleteById" parameterType="java.lang.String" >
        update e_shoes_dict set del_flag #{deleteYes} where id = #{id}
    </update>

    <update id="deleteByIds" parameterType="java.util.List" >
        update e_shoes_dict set del_flag #{deleteYes} where id in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </update>

    <update id="modify" parameterType="org.safari.emall.main.entity.ShoesDict" >
        update e_shoes_dict set 
            modify_time = now(),
            modify_by = #{modifyBy},
            remarks = #{remarks},
            label = #{label},
            value = #{value},
            type = #{type},
            sort = #{sort},
            inst = #{inst},
            useable = #{useable}
        where id = #{id}
    </update>

    <select id="findCount" parameterType="org.safari.emall.main.entity.ShoesDict" resultType="java.lang.Integer" >
        select count(0) from e_shoes_dict t 
        <include refid="condition" />
    </select>

    <select id="findPage" parameterType="org.safari.emall.main.entity.ShoesDict" resultMap="resultMap" >
        select 
        <include refid="column_list" />
        from e_shoes_dict t 
        <include refid="condition" />
        order by t.type desc,t.sort asc
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="findByType" resultMap="resultMap" >
        select 
        <include refid="column_list" />
        from e_shoes_dict t 
        where t.type = #{type} and t.del_flag = #{deleteNo} and t.useable = #{ableYes}
        order by t.sort asc
    </select>

	<select id="findAllType" resultMap="resultMap">
		select distinct t.type as "type" from e_shoes_dict t
		where t.del_flag = #{deleteNo} and t.useable = #{ableYes}
	</select>
</mapper>